

<div class="topnav" id="myTopnav">
  <a href="/login" class="active">LogIn</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="banner">
</div>