<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    {{!-- triple curly brackets only needed inside of layout --}}
<h2>Welcome to the Petition's World</h2>
{{{body}}}
{{!-- <footer>Spiced Education, (c) 2021</footer>     --}}
</body>
</html>