<form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 30%; height: 30%;">
        <input type='text' name='email' placeholder='email'>
        <input type='text' name='password' placeholder='password'>
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>LOG IN</button>

    </form> 
