<h2>LogIn Page</h2>
<form method="POST">
    <input type="text" name="email"> <label for="email">Email address</label>
    <input type="text" name="password"><label for="password">Password</label>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">LOG IN</button>   
</form>
{{!-- {{#if errAdd}} <p>There was an error. Please try again.</p>{{/if}} --}}