   <h2>Please sign our petition, and be a part of something meaningful!</h2>
    
    <div class="box">
    <form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 30%; height: 30%;">
        <input  id="sig-id" type='hidden' name='signature'>
         {{!-- step 3 put this hidden infup fiel in every single form --}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas id="canvas" width="200" height="200" style="border:3px dashed #000000;"></canvas>
        <button type="submit">SUBMIT</button>  
    </form>
    <script src="/script.js"></script>

    </div>  
