<h2>Profile Page</h2>
<div class="box">
<form method="POST">
        <label for="age">HOW OLD ARE YOU?</label>
        <input type="text" name="age">
        <label for="city">WHERE DO YOU LIVE?</label>
        <input type="text" name="city">
        <label for="url">URL</label>
        <input type="text" name="url">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">CONTINUE</button>       
</form>
</div>
<p>{{errorMessage}}</p>