<h1>Profile Page</h1>
<form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 30%; height: 30%;">
        <input type='text' name='age' placeholder='age'>
        <input type='text' name='city' placeholder='city'>
        <input type='text' name='url' placeholder='homepage'>
        {{!-- <input type='text' name='password' placeholder='password'> --}}
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>CONTINUE</button>
</form> 