    <h2>Please register</h2>
<form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 30%; height: 30%;">
        <input type='text' name='firstname' placeholder='First Name'>
        <input type='text' name='lastname' placeholder='Last Name'>
        <input type='email' name='email' placeholder='email'>
        <input type='password' name='password' placeholder='password'>
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>SIGN UP</button>
</form> 

<a href="/register">LOGIN</a>

<p>{{errorMessage}}</p>