{{!-- {{>header}} --}}
{{!-- <h2>We know YOU ALL miss her</h2> 
<h2>let's save Britney from darkness</h2> --}}
<div class="banner">
    <h1>SAVE BRITNEY SPEARS</h1>
<div class="header-text">Remember the good ol' days ? Press play !
<div class="music" align="center">
<audio controls>
{{!-- <source src="babyone.mp3"> --}}
<source src="toxic.mp3">
</audio>
</div>
</div>
</div>
<div class="box">
    <div class="container"></div>
        <form method = 'POST'>
            <label for="male">ENTER YOUR FIRST NAME</label>
            <input type='text' name='firstname'>
            <label for="male">ENTER YOUR LAST NAME</label>
            <input type='text' name='lastname'>
            <label for="male">ENTER YOUR EMAIL</label>
            <input type='email' name='email'>
            <label for="male">ENTER YOUR PASSWORD</label>
            <input type='password' name='password'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>SIGN UP</button>
    </form>
    <p>{{errorMessage}}</p>
    </div>
</div>

