<h2>{{first}} , thank you for believing in our cause : Saving Britney!</h2>
<div class="container">
<div style="text-align: center;">
<a href="/signers">SEE ALL {{count}} SIGNERS</a>
</div>
<h3>Just like you, they all believe</h3>
<h3>the world would be a greater place with Brit!</h3> 

<h3>HIT play Baby, one more time...</h3>

<div align="center">
<audio controls>
  <source src="babyone.mp3" type="audio/mpeg">
</audio>
</div>
</div>